/*.sln
/*.csproj*
/Build/
/Library/
/Logs/
/obj/
/Temp/
/.vs/
/Assets/.lpproj
/ProjectSettings/ProjectVersion.txt
/AssetBundles
/SerializedBuildInfo
/nameTranslation.txt
/SwitchIL2CPPCache
/SwitchIL2CPPStats
/SaveData
TPS_cache/
addressables_content_state.bin